// Bootstrap
// -----------------------------------------------------------------------------
@import 'bootstrap';

// Parent Drupal related components
// -----------------------------------------------------------------------------
@import '../components/offcanvas/offcanvas';

// Include any custom stylesheets here
// -----------------------------------------------------------------------------
@import "quaker_menu";

body {
background-color: white;
}

main {
  max-width: 1320px;
  width: 100%;
  margin: auto !important;
}
main .container {
  background-color: white;
}
main a {
  color: #021644;
}

.header-container {
  min-height: 100px;
  background-color: none;
  position: relative;
  z-index: 700;
  max-width: 1320px;
  width: 100%;
  margin: auto !important;
}

.sidebar {
  background-color: white;
  padding: 2%;
}
.sidebar h3, .sidebar .h3 {
  color: #27232e;
  margin-top: 0.8em;
  font-weight: normal;
  margin-bottom: 0.3em;
}
.sidebar p {
  margin-top: 1em !important;
  margin-bottom: 0.5em !important;
}
.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
}
.sidebar li {
  padding-bottom: 0.4em;
}
.sidebar a {
  text-decoration: none;
  color: #031b51;
}
.sidebar a:hover {
  text-decoration: underline;
}

.sidebar .container {
  background-color: unset;
  border: unset;
}
.sidebar .container .row {
  padding-left: 0px;
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
@media (min-width: 992px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
@media (min-width: 768px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }

}
@media (min-width: 576px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
@media (min-width: 768px) {
  .navbar {
    display: none;
  }

  .mobile-block {
    display: none;
  }
}

/* Default flex slide image */
.flexslider .slides img {
    height: 100%;
    }
@media (max-width: 768px) {
    .flexslider .slides img {
        width: 100%; /* Make the image 100% wide */
        height: 100vh; /* Make the image 100% of the viewport height */
        object-fit: cover; /* Clip image overflow on the sides while maintaining aspect ratio */
        min-height: 450px;
        max-height: 450px;
    }
}

@media (max-width: 992px) {
  #aboutContent:hover {
    width: 90% !important;
  }

  #slide_inset img {
    width: unset;
    max-height: 400px;
  }

  .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
    min-height: 0 !important;
  }

  #foobar .flex-next {
    margin-right: 0 !important;
  }
  #foobar .flex-prev {
    margin-left: 0 !important;
  }

  #flexslider-2 {
    display: block;
    top: -149px !important;
  }
  superfish-central-links-accordion
  .sidebar ul {
    padding-left: 0px;
  }

  [class^=col-] {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .block--snowmaidsitebranding, 
  .block--snowmaidtechnologybranding {
    /* display: none; */
  border: 1px solid black;
  }
}

@media (max-width: 576px) {
  .sidebar [class^=col-] {
    padding-left: 15%;
  }

  .sidebar h3, .sidebar .h3 {
    padding-left: 10%;
  }
}
#aboutContentHolder {
    position: relative;
  }
  #aboutContentHolder img {
    width: 19px;
    height: 23px;
    display: unset;
    vertical-align: middle;
  }
  
  #aboutContent {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid black;
    bottom: 4px;
    color: white;
    height: 21px;
    line-height: 1.2em;
    overflow: hidden;
    padding-top: 1px;
    position: absolute;
    right: 10px;
    width: 13%;
    min-width: 115px;
    z-index: 20;
  }
  
  #aboutContent a {
    color: white;
    font-size: small;
    padding-top: 2px;
    text-decoration: none;
  }
  
  #aboutContent:hover a {
    color: black;
  }
  
  #aboutContent:hover {
    color: black;
    background-color: #f9f3e5;
    bottom: 5px;
    cursor: pointer;
    height: auto;
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 10px;
    width: 45%;
    cursor: pointer;
  }
  
  .menutabs-mobile .nav {
    display: flex;
    flex-wrap: wrap;
  }
  .menutabs-mobile .nav a {
    font-size: 1.2em;
    text-decoration: none;
    text-shadow: 1px 1px black;
    color: #f9c901;
  }
  
  .breadcrumb a {
    color: grey;
  }
  
  .breadcrumb li.active {
    background-color: unset !important;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">") !important;
  }
  
  .slideshow_area {
    padding-left: 0;
    padding-right: 0;
  }
  
  #frontpage_slideshow {
    margin: 0;
    padding: 0;
    --bs-gutter-y: 0;
    --bs-gutter-x: 0;
    margin-bottom: 0 !important;
  }
  #frontpage_slideshow a {
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px black;
  }
  
  #inset-holder p {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  #slide_inset {
    background-color: #642626;
    color: white;
    padding-bottom: 5px;
    position: relative;
  }
  #slide_inset p {
    margin-auto: auto;
    text-align: left;
  }
  #slide_inset img {
    border: 1px solid black;
    max-width: 92%;
    max-height: 250px;
    width: unset;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
  }
  #slide_inset .row {
    --bs-gutter-x: 0px;
    --bs-gutter-y: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  #foobar {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  #foobar .flex-next {
    margin-right: 8%;
  }
  #foobar .flex-prev {
    margin-left: 8%;
  }
  
  .view-frontpage-gallery- .flexslider, .view-frontpage-slideshow .flexslider {
    margin: 0 0 0 !important;
    border: 0px;
    border-radius: unset;
  }
  
  .flexslider {
    background-color: #edeae4;
  }
  
  #flexslider-2 {
    display: block;
    top: -300px;
  }
  #flexslider-2 .flex-direction-nav {
    display: block;
  }
  
  svg.ext {
    width: 16px !important;
    height: 16px !important;
    fill: white !important;
    font-weight: 900 !important;
    padding-left: 3px !important;
    margin-top: -7px !important;
  }
   
  #slide_inset .flex-direction-nav {
    display: block;
  }
  
  .flexslider .flex-direction-nav a,
  .flexslider .flex-direction-nav a {
    display: block;
    /* I added this line */
  }
  
  .flex-direction-nav .flex-next {
    right: 0 !important;
    margin-right: 7px;
    opacity: 1 !important;
    min-height: 60px;
    height: 66px;
  }
  
  .flex-direction-nav .flex-prev {
    left: 0 !important;
    opacity: 1 !important;
    margin-left: 7px;
    min-height: 60px;
    height: 66px;
  }

  .page {
  padding-top: 30px;
  }   

  .page__footer {
    min-height: 300px;
    max-width: 1320px;
    margin: auto;
    background-image: url("/themes/custom/radix_house_theme/src/assets/images/footerbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .page__footer a {
    text-decoration: none;
    color: white;
  }
  .page__footer h3, .page__footer .h3 {
    color: white;
    min-height: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
  }
  
  #download {
    padding-top: 10px;
  }
  #download img {
    margin-left: -3px !important;
    margin-right: 2px !important;
    max-height: 22px;
    max-width: 22px;
  }
  
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  fieldset.card legend {
    font-size: 1rem;
  }
  
  .form-check {
    margin-bottom: 1rem;
  }
  .form-radios .form-check, .form-checkboxes .form-check {
    margin-bottom: 0;
  }
  
  .form-required::after {
    content: "*";
    color: #dc3545;
    margin: 0 0.3em;
  }
  
  #return_Unavailable {
    display: block;
    background-color: #ede6e5;
    width: 90px;
    border: 1px solid red;
    border-radius: 10px;
  }superfish-central-links-toggle
  
  #checkout_Available {
    display: block;
    background-color: #e9ede6;
    width: 90px;
    border: 1px solid green;
    border-radius: 10px;
  }
  
  #house_main {
    width: 100%;
  }

  .page__footer {
    background-color: black;
  }

  #status_region {
    padding: 1.7em;
  }
#superfish-central-links-accordion {
  // background-color: #26242e;
  //background-color: black;
  background-color: #26242e;
  // background-image: url('../assets/images/background.png');
}
.branding {
min-height: 15px;
}
#branding picture {
  border: 2px solid greenyellow;
}
.block--sitemessage {
min-height: 15px;
}
.menu_bar picture {
  position: absolute;
  z-index: 710;
  padding-left: 1rem;
}
.menu_bar a {
  color: white;
}
#copyright {
  color: grey;
}
.stickynav-active {
  background-color: black;
  max-width: 1320px !important;
  padding-top: 0.4rem;
  margin-left: 0px;
  margin-right: 0px;
}
.body-content {
padding: unset;
background-color: white;
}

.block--tabs {
margin-top: 0px !important;
margin-bottom: 0px !important;
}

.gradient-overlay-container {
background-color: black;
}

#hero-text {
  display: block;
  position: relative;
  z-index: 600;
  font-size: 2rem;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
  bottom: 55%;
  height: 55%;
  line-height: normal;
}

@media (max-width: 768px) {
  #hero-text {
  font-size: 1.6rem;
  }
}

#hero-text span {
padding-top: 10%;
padding-left: 5%;
position: absolute;
}
#hero-text a {
padding: 1rem;
text-decoration: none;
border: 1px solid white;
background-color: black;
}
